# elleLog - Thoughts on SIEM
# Author alisle@alienvault.com
#

#Max number of CPUs that elleLog should use.
Max.cpus=4

#How often the summary should be printed
Max.summarytime=1000

#The queue size for Syslog Packets
Max.queue.packets=1000000

#The queue size for Messages which have been parsed from the Syslog format
Max.queue.messages=1000000

#The queue size for the events to be sent to Output after they've been processed
Max.queue.events=1000000

#Enable Outputting events to STDOUT
Output.ShowSTDOUT=true

#Attach a file which the events should be Output to.
Output.Attach.File="/var/log/syslog"

#Attach a ElasticSearch server to accept events
Output.Attach.ElasticSearch="http://localhost:9200/ellelog/log"

#Attach a StatsServer to accept events
Output.Attach.StatsServer="localhost:4040"

#Attach a UDP Listener to port 514
Listener.Attach.UDP=":514"

#Attach to a Unix Stream Socket
Listener.Attach.UnixStream="/var/run/syslog"

#Attach an AV Logger Listener
Listener.Attach.AVLogger=":40009"

#Enable ellelog to use Bulk sending to ElasticSearch
ElasticSearch.Bulk.Enable=true

#Set the Maximum number of items needed before sending events to ElasticSearch
ElasticSearch.Bulk.Max_Items=50

#Number of seconds waited for a new event to arrive before the Bulk items are flushed. elleLog will queue events until the 
#Max_items are reached, or until it has waited this many seconds for a new event to be added to the Bulk queue
ElasticSearch.Bulk.Max_Seconds=1

#The Max number of concurrent connections allowed to ElasticSearch.
ElasticSearch.Max_Connections=3


